extends layout

block content
    img(src="https://www.bretagne-energie.fr/wp-content/uploads/2021/09/prix-des-energies-scaled.jpeg", alt="")
    div.first
        h1.
            Infinity Energies développe des solutions sur mesure de production d’énergie autonomes, hybrides, 
            intelligentes, orientées économies et plus respectueuses de l’environnement.
    div.blocHome
        img(src="https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/8/f/e/8fedacc93c_115047_barrage-savoie.jpg", alt="")
        p.
            L’hydroélectricité ou énergie hydroélectrique exploite l’énergie potentielle des flux d’eau (fleuves, rivières, chutes d’eau, courants marins, etc.). 
            L’énergie cinétique du courant d’eau est transformée en énergie mécanique par une turbine, puis en énergie électrique par un alternateur. <br><br>
            L’hydroélectricité constitue la première source renouvelable et la troisième source - toutes filières confondues - de production électrique au monde 
            derrière le charbon (38%) et le gaz (23,2%)
    div.blocHome
        p.
            L’énergie du vent ou énergie éolienne est l’énergie cinétique des masses d’air en mouvement autour du globe. 
            La racine étymologique du terme « éolien » provient du nom du personnage mythologique Éole, connu en Grèce antique 
            comme le maître des vents. <br><br>L’énergie éolienne est une forme indirecte de l’énergie solaire : les rayons solaires 
            absorbés dans l’atmosphère entraînent des différences de température et de pression. De ce fait les masses d’air se 
            mettent en mouvement et accumulent de l’énergie cinétique
        img(src="https://echooomagazine.com/wp-content/uploads/2021/10/energie-eolienne.jpg", alt="")
    div.blocHome
        img(src="https://askan.co/wp-content/uploads/2022/05/Energie-solaire-en-Afrique.jpeg", alt="")
        p.
            L'énergie solaire photovoltaïque est l'électricité produite par transformation d'une partie du rayonnement solaire au 
            moyen d’une cellule photovoltaïque. Schématiquement, un photon de lumière incidente permet sous certaines circonstances 
            de mettre en mouvement un électron, produisant ainsi un courant électrique. <br><br>Les cellules photovoltaïques sont 
            fabriquées avec des matériaux semi-conducteurs principalement produits à partir de silicium. Ces matériaux émettent des 
            électrons lorsqu’ils sont soumis à l'action de la lumière. Ceux-ci sont éjectés du matériau et ils circulent dans un 
            circuit fermé, produisant ainsi de l’électricité.
    div.blocHome
        p.
            L'énergie biomasse est la forme d'énergie la plus ancienne utilisée par l'homme depuis la découverte du feu à la préhistoire. 
            Cette énergie permet de fabriquer de l'électricité grâce à la chaleur dégagée par la combustion de ces matières (bois, végétaux, 
            déchets agricoles, ordures ménagères organiques) ou du biogaz issu de la fermentation de ces matières, dans des centrales biomasse.
        img(src="https://www.edf.fr/sites/groupe/files/contrib/groupe-edf/espaces-dedies/espace-pedagogie/home/header/151921.jpg", alt="")
    h2.
        Nos partenaires professionnels proposent les meilleurs produits du marché.<br><br>
        Toutes les solutions sont basées sur un concept modulaire, Plug & Start, évolutif et facile à installer et à utiliser
    div.partners
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/Sunpower_logo-1024x128.png", alt="")
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/lorentz-transparentpng-1024x134.png", alt="")
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/hoppecke-logo.png", alt="")
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/Suntechlogo-1024x151.png", alt="")
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/rina_Solar_logo-1024x237.png", alt="")
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/victron-energy-logo.png", alt="")
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/fronius-logo-e1628256412197.png", alt="")
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/Logo_SMA-1024x673.png", alt="")