extends layout

block content
    h1 Nous croyons en l'efficacité énergétique, la durabilité et l'innovation constante pour un monde plus propre et plus vert.    
    div.block
        div.product
            img(src="https://nrjsolaires.com/cdn/shop/collections/victron-energy-595473_400x400_crop_top.jpg?v=1593199928", alt="")
            p Victron Energy
        div.product
            img(src="https://nrjsolaires.com/cdn/shop/collections/panneau-solaire-846354_400x400_crop_top.jpg?v=1593287487", alt="")
            p Panneau solaire
        div.product
            img(src="https://nrjsolaires.com/cdn/shop/collections/chauffe-eau-solaire-788062_400x400_crop_top.jpg?v=1593288410", alt="")
            p Chauffe eau solaire
        div.product
            img(src="https://nrjsolaires.com/cdn/shop/collections/onduleur-online-808995_400x400_crop_top.jpg?v=1581518098", alt="")
            p Onduleur
        div.product
            img(src="https://nrjsolaires.com/cdn/shop/collections/regulateur-solaire-844145_400x400_crop_top.jpg?v=1593288858", alt="")
            p Régulateur solaire
        div.product
            img(src="https://nrjsolaires.com/cdn/shop/collections/variateur-pompe-solaire-nrj600-senegal-154679_400x400_crop_top.jpg?v=1593730360", alt="")
            p Variateur de pompe
    h2.
        Infinity Energies conçoit et développe des solutions de génération d’énergie hybride à base d’ENR, 
        opérationnelles 7j/7 et 24h/24 avec une réelle performance économique. Ce travail s’appuie sur notre 
        savoir-faire et notre expérience pour vous proposer des solutions sur-mesure d’énergie autonome.
    div.blocHome
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/LSS-Stockage.jpg", alt="")
        div.defSces
            h2 Vente et distribution
            p.
                Infinity Energies est votre distributeur d’équipements solaires. En partenariat avec de grandes marques, 
                la qualité est certifiée. Nous représentons les plus grands du solaire photovoltaïque, notamment : Lorentz, 
                Victron, SMA, Schneider, Trinasolar, Hoppecke, Fronius, KBE Berlin, etc…
    div.blocHome
        div.defSces
            h2 Service SAV
            p.
                Nous vous assurons un SAV (service après-vente) permanent. En cas de besoin, vous pourrez 
                toujours nous contacter sur nos différents numéros ou par e-mail. <br>
                Nous avons un stock disponible et nos produits sont garantis !
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/LSS-Contact-US-e1628010020312.jpg", alt="")
    div.blocHome
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/LSS-Mise-en-relation.jpg", alt="")
        div.defSces
            h2 Mise en relation
            p.
                Nous ne nous limitons pas à vous vendre de bons produits. Nous assurons aussi la mise 
                en relation avec des installateurs compétents et fiables pour la réalisation de vos projets.
    div.blocHome
        div.defSces
            h2 Livraison et installation
            p.
                Nous vous livrons partout au Sénégal et en Afrique. Notre équipe se chargera par la suite de l'installation
                et des vérfications afin que votre système soit fonctionnel en moins de 24h.
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/LSS-Livraison.jpg", alt="")
    div.blocHome
        img(src="https://lasolutionsolaire.com/wp-content/uploads/2021/10/formationlss.jpg", alt="")
        div.defSces
            h2 Formations gratuites
            p.
                Les installateurs bénéficient de formations gratuites dans nos locaux. La technologie du photovoltaïque
                étant très évolutive, il faut donc tout faire pour toujours être à jour par rapport aux produits et 
                nouvelles technologies utilises.